/* For testing only */

*:not(body):not(html) {
  box-sizing:border-box;
  /*border:1px dashed #000;*/
}

/*.columns {
  min-height: 100px !important;
  margin: .5%;
}*/

/* End for testing */


*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.container {
  width: 95%;
  margin: 0 auto;
}

img {
  max-width: 100%;
  display: block;
}

.columns {
  margin: 0 auto;
}

.content {
  overflow: auto;
}

#logo {
  /*float: left;*/
}

ul {
  /*float: right;*/
  list-style-type: none;
  overflow: auto;
  padding-left: 0;
}

li {
  display: inline;
  padding-right: 3%;

}

.header {
  clear: both;
  width: 90%;
  padding-left: 3%;
}


/* MEDIA QUERIES ------------ */

@media screen and (min-width: 800px) {
  #logo {
    float: left;
  }
  ul {
    float: right;
    width: 30%;
    margin-top: 20px;
  }
  .columns {
    width: 49%;
    float: left;
    margin: 1% 1% 1% 0;
  }

}

@media screen and (min-width: 1300px) {
  .columns {
    width: 24%;
  }
  ul {
    width: 25%;
  }
}
